{% extends "CharitySystem/head-foot-page.html" %}
{% load static %}
{% block content %}
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<div>
<div class="bg-dark text-dark">
<div class="ms-3 bg-dark" >
    <div class="pt-5 mt-3 float-start">
        <p class="text-dark">-</p>
        <p style="color: yellow;" class="fs-1"><strong>SATEL
          <svg xmlns="http://www.w3.org/2000/svg" style=" color: yellow;" width="50" height="35" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 3 17 15">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </strong></p>
        <p class="fs-4 text-light"><strong>Madencilik sektöründe <span class="fs-4 text-danger">Atex</span> İş güvenliği</strong></p>
        <p class="fs-4 text-light"><strong>Ekipmanları Üretim, Bakım ve Kalibrasyon</strong></p>
        <p class="fs-4 text-light"><strong> hizmeti ile müşterilerimizin yanındayız.</strong></p>
        <p class="bg-dark text-dark">-------------------------------------------------------------------------------</p>
        <img src="{% static 'img/indir.jpg' %}" alt="" width="200">
        </div>

    <div class="mx-auto">
        <img src="{% static 'img/images.jpg' %}" width="500" height="500" class="border border-4 border border-warning mt-4 ms-5 rounded-circle" alt="...">
    </div>
    <p class="bg-dark text-dark">-</p>
</div>
</div>
<p class="text-warning bg-warning">-</p>
<div class="bg-dark text-dark">
  <div class="ms-3 bg-dark" >
    <div class="pt-5 mt-3 float-start">
      <p class="text-dark">-</p>
      <p style="color: yellow;" class="fs-1"><strong>KALİBRASYON
        <svg xmlns="http://www.w3.org/2000/svg" style=" color: yellow;" width="50" height="35" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 3 17 15">
          <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </strong></p>
          <p class="fs-4 text-light"><strong>Portatif Gaz dedektörleri, Gaz izleme </strong></p>
          <p class="fs-4 text-light"><strong> Sensörlerinin Kalibrasyonu ve</strong></p>
          <p class="fs-4 text-light"><strong>Teknik servis hizmeti vermekteyiz </strong></p>
          <p class="bg-dark text-dark">-------------------------------------------------------------------------------</p>
          <img src="{% static 'img/images (1).jpg' %}" alt="">
          </div>
  
      <div class="mx-auto">
          <img src="{% static 'img/hq.jpg' %}" width="500" height="500" class="border border-4 border border-warning mt-4 ms-5 rounded-circle" alt="...">
      </div>
      <p class="bg-dark text-dark">-</p>
  </div>
  </div>
  <p class="text-warning bg-warning">-</p>
  <div class="bg-dark text-dark">
    <div class="ms-3 bg-dark" >
      <div class="pt-5 mt-3 float-start">
        <p class="text-dark">-</p>  
        <p style="color: yellow;" class="fs-1"><strong>SCADA,YAZILIM
          <svg xmlns="http://www.w3.org/2000/svg" style=" color: yellow;" width="50" height="35" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 3 17 15">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </strong></p>
            <p class="fs-4 text-light"><strong>Madencilik sektörünün ihtiyaçlarına göre</strong></p>
            <p class="fs-4 text-light"><strong>Özelleştirilmiş Merkezi Gaz İzleme,Personel Takip</strong></p>
            <p class="fs-4 text-light"><strong>Sistem Yazılım ve Tasarım hizmeti vermekteyiz</strong></p>
            <p class="bg-dark text-dark">-------------------------------------------------------------------------------</p>
            </div>
    
        <div class="mx-auto">
            <img src="{% static 'img/Ekran.jpg' %}" width="500" height="500" class="border border-4 border border-warning mt-4 ms-5 rounded-circle" alt="...">
        </div>
        <p class="bg-dark text-dark">-</p>
    </div>
    </div>
    <span class="mx-auto text-light text-center"><h2>Yaptıklarımız</h2></span>
    <span><svg style="color: white;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="mx-auto d-block bi bi-chevron-double-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg></span>
    <div class="album py-5 bg-dark">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
            <div class="col">
              <div class="border border-2 border border-warning card shadow-sm">
                <img src="{% static 'img/hq.jpg' %}" class=" rounded" height="250" alt="icon">
    
                <div class="card-body  bg-dark">
                  <p class="card-text text-light" class="warning"><strong><em>KALİBRASYON</em></strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a role="button" href="/calibrate/" class="btn btn-warning">Görüntüle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="border border-2 border border-warning card shadow-sm">
                <img src="{% static 'img/icon.jpg' %}" class=" rounded" height="50%" alt="icon">
    
                <div class="card-body  bg-dark">
                  <p class="card-text text-light" class="warning"><strong><em>ÜRÜNLER</em></strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a role="button" href="/product/" class="btn btn-warning">Görüntüle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="border border-2 border border-warning card shadow-sm">
                <img src="{% static 'img/Ekran.jpg' %}" class=" rounded" height="250" alt="icon">
    
                <div class="card-body  bg-dark">
                  <p class="card-text text-light" class="warning"><strong><em>YAZILIM</em></strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a role="button" href="/software/" class="btn btn-warning">Görüntüle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}