{% extends "CharitySystem/head-foot-page.html" %}
{% load static %}
{% block content %}
<div class="bg-dark">
  <div class="ms-3 bg-dark" >
    <div class="pt-5 mt-3 float-start">
      <p class="bg-dark text-dark">-</p>
          <p style="color:rgb(184, 194, 0)" class="fs-1"> <strong>STL 27 Ses ve Işıklı İkaz </strong> </p>
          <p class="fs-4 text-light">● Mobil kullanımda buton ile manuel ışık ikazı çalıştırma özelliği,</p>
          <p class="fs-4 text-light">● Sabit sistem üzerinden kontrol ses ve ışık ikazı verebilme özelliği,</p>
          <p class="fs-4 text-light">● 360 derece ikaz ışığı verebilme özelliği,</p>
          <p class="fs-4 text-light">● 85 Db Alarm Ses Çıkışı,</p>
          <p class="fs-4 text-light">● Dahili batarya özeliği ile sabit sistemlerde düşük güç tüketimi</p>
          <p class="fs-4 text-light">● Ayarlanabilir iki kademeli dahili ses ve ışık ikazı,</p>
          <p class="fs-4 text-light">● IP65 giriş soketi,</p>
          <p class="fs-4 text-light">● Muhafaza koruma sınıfı IP65</p>
          <p class="fs-4 text-light">● ATEX I M 1 Sertifikasyon</p>
          <!-- <img src="{% static 'img/images (1).jpg' %}" alt=""> -->
          </div>
  
      <div class="mx-auto">
          <img src="{% static 'img/stl27.jpg' %}" width="500" height="500" class="border border-4 border border-warning mt-4 ms-5 rounded-circle" alt="...">
      </div>
      <p class="bg-dark text-dark">-</p>  
      <p class="bg-dark text-dark">-</p>  
      <p class="bg-dark text-dark">-</p>  
      <p class="bg-dark text-dark">-</p>  
      <p class="bg-dark text-dark">-</p>
  </div>
  </div>
<div class="">
  <p class="fs-2 text-center text-light">----------------------------------- Tanıtım Videosu -----------------------------------</p>
  <!-- <video width="500" height="300" controls class="float-center rounded">
     <source src="{% static 'video/Vided.mp4' %}" type="video/mp4">
  </video> -->
</div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
         Data Sheet
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><p><a href="{% static 'media/stl27.pdf' %}">Kullanım kılavuzu</a></p></div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          ATEX Sertifika
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
  </div>
  {% endblock %}