{% extends "CharitySystem/head-foot-page.html" %}
{% load static %}
{% block content %}
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <div class="col">
              <div class="border border-2 border border-light card shadow-lg">
                <img class="rounded-top" src="{% static 'img/stl27.jpg' %}" height="200px" alt="icon">
    
                <div class="card-body bg-dark rounded-bottom">
                  <p class="text-warning card-text" style="font-family: Arial;font-size:large;">STL 27 Ses ve Işıklı İkaz</p>
                  <p class="text-light card-text" style="font-size: small;">STL 27 Ses ve Işıklı İkazSTL 27 Ses ve Işıklı İkazSTL 27 Ses ve Işıklı İkaz STL 27 Ses ve Işıklı İkazSTL 27 Ses ve Işıklı İkaz<span class="text-dark">--------</span></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button  type="button" class="btn btn"><a href="/product/1" class="btn btn-warning">Görüntüle</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="border border-2 border border-warning card shadow-sm">
                <img src="{% static 'img/stl57.jpg' %}" height="250px" alt="icon">
    
                <div class="card-body bg-dark">
                  <p class="text-light card-text"><strong><em>STL 57 Dual Gaz Sensörü</em></strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button  type="button" class="btn btn"><a href="/product/2" class="btn btn-warning">Görüntüle</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="border border-2 border border-warning card shadow-sm">
                <img src="{% static 'img/ikaz.jpg' %}" height="250" alt="icon">
    
                <div class="card-body bg-dark">
                  <p class="text-light card-text"><strong><em>Kablo İkaz Sistemi</em></strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button  type="button" class="btn btn"><a href="/product/3" class="btn btn-warning">Görüntüle</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="border border-2 border border-warning card shadow-sm">
                <img src="{% static 'img/gr6.jpg' %}" height="250" alt="icon">
    
                <div class="card-body bg-dark">
                  <p class="text-light card-text"><strong><em>Personel Takip Sistemi</em></strong></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button  type="button" class="btn btn"><a href="/product/4" class="btn btn-warning">Görüntüle</a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}