{% extends "CharitySystem/head-foot-page.html" %}
{% load static %}
{% block content %}

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<div class="p-5 mt-4" style="background-color:#3b07b5;">
    <div class="container p-4">
        <button class="btn btn-warning mb-4" onclick="location.href='/'"><i class="fas fa-angle-left"></i> Home</button>
        <h2 class="mb-2 text-light">İletişim</h2>
        <h3 class="text-light">SATEL ELEKTRONİK SİSTEMLER</h3>
        <h3 class="text-light">Terakki Mah.M.Akif Ersoy Cad. No57B ZONGULDAK</h3>        
        <h3 class="text-light">Tel. 0372 222 0 222</h3>
        <h3 class="text-light">Tel. 0532 434 32 73</h3>
    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

{% endblock %}